# Python compile files
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
.venv/

# Environment variables (secrets)
.env

# Windows system files
Thumbs.db
Desktop.ini

# IDE settings (VS Code)
.vscode/
